<h2 style="text-align:center">A propos</h2>

<p style="text-align:center">
    Nous sommes une compagnie tout nouvellement créer. Notre but est de fournir aux collectionneurs ou au gens
    de tous les jours le bien electronique d'autres fois. Bien que c'est objects sont vieux, ils sont souvent
    toujours en état de fonctionner. De plus, certaine de ces consoles possedent des jeux qui sont toujours
    considérés comme les meilleurs jeux de leur temps.

    Ce site à géré par 4 etudiants du cegep de Saint-Hyacinthe:
    <br/>♦ Samuel Pelletier
    <br/>♦ Alexandre Constant
    <br/>♦ David Fournier-Leduc
    <br/>♦ Renaud Gariepy

    <br/><br /><a href="Contact">Contactez-nous!</a>
</p>
