@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<h2 style="text-align:center">@Localizer["About"]</h2>

<p style="text-align:center">
    @Localizer["Company"]

    @Localizer["Student"]
    <br/>♦ Samuel Pelletier
    <br/>♦ Alexandre Constant
    <br/>♦ David Fournier-Leduc
    <br/>♦ Renaud Gariepy

    <br/><br /><a href="Contact">@Localizer["Contact"]</a>
</p>
