@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2 style="text-align:center">@Localizer["Contact"]</h2>

<p style="text-align:center">
    @Localizer["Contact2"]
    <br />
    <a href="https://www.facebook.com/RetroMarket-1520242521354190/" target="_blank">Visitez notre page facebook</a>
    <br />
    <a href="https://twitter.com/RetroMarketSth" target="_blank">Suivez nous sur twitter</a>

</p>