
<h2 style="text-align:center">Bienvenue!</h2>

<p style="text-align:center">Bienvenue sur le site web de Retro Market!
   Ici, vous trouverez de vieilles consoles, manettes et accessoires usages et neuf!
   Bon magasinage!</p>